body {
	background-color:grey;
}

#user {
	width:70px;
	padding-top:10px;
}

#cart {
	width:70px;
	padding-top:20px;
}

.circle{
	border-radius:390px;
	background-color:white;
	width:100px;
	height:100px;
}

.bottom{
	width:100%;
}

.elem_side{
	display:block;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}

.sider_user{
	background-color:pink;
	display:inline-block;
	width:20%;
	height:600px;
	vertical-align:top;
}

.center{
	background-color:green;
	display:inline-block;
	width:58%;
	margin-left:5px;
	margin-right:5px;
	vertical-align:top;
	
}

.sider_cat{
	background-color:blue;
	display:inline-block;
	width:20%;
	height:600px;
	vertical-align:top;
}
