.product {
	background-color:#4C4C4C;
	color: #E5E5E5;
	padding:10px;
	padding-top: 0px;
	border-width:10px;
	border-radius:10px;
	float:left;
	margin: 15px;


}

.name {
	font-size:3vw;
	font-family:Arial;
	color: #4FC2B3;
}

#bouton
{
	height: 25px;
	font-size: 15px;
	border: none;
	border-radius:10px;
	background-color: #4FC2B3;
}
