

body {
	font-family:helvetica, arial, sans-serif;
	text-align:center;
}

#answer {
	text-align:center;
}

#answer img {
	height:150px;
	opacity:1;
	-webkit-transition:.3s;
	ease-in-out;
	transition:.3s;
	ease-in-out;
}

#answer img:hover {
	opacity:.5;
}

#signin {
	text-align:center;
}
#signin input {
	display:block;
	border-top:2px solid grey;
	border-right:2px solid grey;
	text-align:center;
	width:100px;
	margin:3px auto;
}

#signin p {
	display:block;
	padding:0;
	margin:0;
}
