body {
	background-color:#1a1a1a;
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c8/DIMendeleevCab.jpg);
}
h1 {
	color:#31919b;
	text-align:center;
}
table {
	margin:0 auto;
}
td {
	text-align:center;
	color:white;
	border:2px solid white;
	border-collapse:collapse;
	margin:1px;
	width:5%;
}
div.weight {
	text-align:right;
	font-size:0.8vw;
	margin:2px 2px 0px 2px;
}
div.symb {
	text-align:center;
	font-size:2vw;
	margin:10%;
}
div.num {
	text-align:left;
	font-size:0.8vw;
}

td.empty {
	border-style:none
}
.aa {
	color:#a4714a;
	border-color:#a4714a;
}
.ab {
	color:#b3784b;
	border-color:#b3784b;
}
.ac {
	color:#bb8052;
	border-color:#bb8052;
}
.ad {
	color:#7e61c9;
	border-color:#7e61c9;
}
.ae {
	color:#9d63cb;
	border-color:#9d63cb;
}
.af {
	color:#bb65cc;
	border-color:#bb65cc;
}
.ag {
	color:#ce66c2;
	border-color:#ce66c2;
}
.ah {
	color:#cf68a6;
	border-color:#cf68a6;
}
.ai {
	color:#eed2cc;
	border-color:#eed2cc;
}
.aj {
	color:#f0e3d0;
	border-color:#f0e3d0;
}
.ak {
	color:#9ecd92;
	border-color:#9ecd92;
}
#header {
	color:white;
}
#tab {
	color:white;
	text-align:center;
}

