#categories {
	display:flex;
	padding:5px;
	flex-direction: row;
	flex-wrap: wrap;
}

#categories a {
	text-decoration: none;
	color:inherit !important;
	
}

.category {
	display:flex;
	flex-direction: column;
	border:solid white 1px;
	padding:5px;
	min-height: 200px;
	min-width:200px;
	margin-right:10px;
	justify-content: center;
}

.category:hover {
	background-color: white;
	color:black;
}

.category_title {
	display:flex;
	font-size: 30px;
	font-weight: bolder;
	justify-content: center;
	margin-bottom: 15px;
}

.category_description {
	display:flex;
	font-size: 16px;
	font-weight: lighter;
	justify-content: center;
}