body {
	background-color:#4F4F4F;
}
#shadow {
	text-shadow:5px -1px 5px red;
}
.elems {
	margin:0 auto;
	padding:1%;
	width: 80%;
	background-color:#4F4F4F;
}
.top {
	background-color:#8F8F8F;
	width:100%;
	position:relative;
}
.down {
	padding:10px;
	text-align:center;
	width:100%;
	position:relative;
}
.side {
	display:inline-block;
	background-color:#8F8F8F;
	width:8%;
	height:300px;
	text-align:center;
	vertical-align:top;
}
.center {
	background-color:#8F8F8F;
	display:inline-block;
	padding:5px;
	vertical-align:top;
	width:70%;
	margin:5px 9px;
	position:relative;
}
.center img {
	width: 100%;
}
.img_side {
	display:block;
	width:50px;
	text-align:center;
	margin:0 auto;
}
#day {
	width: 40%;
}
#loupe {
	position:absolute;
	top:20px;
	right:50px;
	height:100%;
}
#reload {
	position:absolute;
	top:5px;
	right:5px;
}
#close {
	position:absolute;
	bottom:5px;
	right:5px;
}
.buttons {
	width:2%
}
#brick {
	background-image: url("resources/brick.jpg");
	height:70px;
	width:80%;
}
#eye {
	border:3px solid red;
}
#box {
	background-color:#87FE88;
	position:absolute;
	bottom:-10px;
	left:-10px;
}
#cluster1 {
	position:absolute;
	right:50%;
	bottom:10%;
	height:30%;
	width:18%;
}
#cluster2 {
	position:absolute;
	right:15px;
	bottom:20%;
	height:30%;
	width:18%;
}
.container {
	border-radius:10px;
	box-shadow: 10px 10px 10px;
	padding:10px;
}
#answer {
	width:70%;
}
#high {
	font-size:28px;
}
